.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 80%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 20px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__right {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  background-color: white;
}
